@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Roboto' sans-serif;
}

.carousel .control-dots .dot {
  width: 10px !important;
  height: 10px !important;
  background: #fb4226 !important;
  top: 210px !important;
}

.play-carousel {
  opacity: 0;
  border: #e94444e3 4px solid;
  color: rgb(249 43 47 / 80%);
  background: #ffffff4d;
  transition: all.8s;
}

#carousel:hover .play-carousel {
  opacity: 1;
}
.play-carousel:hover {
  border: #fb4226 4px solid;
  color: #fb4226;
  background: #9e9e9e;
}
.video-carousel {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.641);
  width: 100%;
  height: 100vh;
  z-index: 30;
}

.video-carousel .close {
  color: white;
  position: absolute;
  right: -5%;
  top: -8%;
}
.video-carousel .close {
  position: absolute;
  top: -50px;
  right: 0;
}
.video-carousel .close ion-icon {
  font-size: 50px !important;
}
.video-wrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  top: 50%;
  transform: translateY(-50%);
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.item-c18 {
  background-color: #fb4226;
  border-radius: 4px;
  color: white;
  font-weight: 500;
  font-size: 1rem;
}
.item-title {
  font-size: 18px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
#item-movie .item-desc {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  font-size: 14px;
  color: #9e9e9e;
  margin: 0px 0px 16px 0px;
  font-weight: 600;
}
.item-trailer {
  opacity: 0;
  transition: all.8s;
  background-color: rgba(0, 0, 0, 0.251);
}
#item-movie:hover .item-trailer,
#item-movie:hover .play-carousel {
  opacity: 1;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #carousel .video-carousel iframe {
    width: 700px;
    height: 400px;
  }
  #item-movie .item-desc {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 14px;
    color: #9e9e9e;
    margin: 0px 0px 16px 0px;
    font-weight: 600;
  }
}
/* pagination */
.pagination-container {
  display: flex;
  justify-content: center;
  list-style-type: none;
  font-size: 50px;
  font-weight: 500;
  margin: 30px 0 80px 0;
}

.pagination-container .pagination-item {
  padding: 0 12px;
  height: 32px;
  text-align: center;
  margin: auto 4px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  box-sizing: border-box;
  align-items: center;
  letter-spacing: 0.01071em;
  border-radius: 16px;
  line-height: 1.43;
  font-size: 18px;
  min-width: 32px;
  margin-top: 5px;
}

.pagination-item .dots:hover {
  background-color: transparent;
  cursor: default;
}
.pagination-item:hover {
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}
.selected {
  background-color: rgba(0, 0, 0, 0.08);
}

.arrow::before {
  position: relative;
  content: '';
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border-right: 0.12em solid rgba(0, 0, 0, 0.87);
  border-top: 0.12em solid rgba(0, 0, 0, 0.87);
}

.pagination-item .left {
  transform: rotate(-135deg) translate(-50%);
}
.pagination-item .right {
  transform: rotate(45deg);
}

.disabled {
  pointer-events: none;
}

.disabled .arrow::before {
  border-right: 0.12em solid rgba(0, 0, 0, 0.43);
  border-top: 0.12em solid rgba(0, 0, 0, 0.43);
}

.disabled:hover {
  background-color: transparent;
  cursor: default;
}

@media screen and (min-width: 1024px) {
  #item-movie .item-desc {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 14px;
    color: #9e9e9e;
    margin: 0px 0px 16px 0px;
    font-weight: 600;
  }
  .video-wrapper {
    float: none;
    clear: both;
    width: 80%;
    position: relative;
    padding-bottom: 45.25%;
    padding-top: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #news .ant-tabs-tabpane-active {
    grid-template-columns: repeat(6, minmax(0, 1fr));
    display: grid;
  }
}

#search-movie {
  padding: 40px;
}
#search-movie button {
  width: 50px;
  height: 50px;
  right: 4px;
  top: 2px;
  border-radius: 100%;
  line-height: 17px;
}
#search-movie ion-icon {
  font-size: 20px !important;
}
#search-movie .shadow-indigo-500\/40 {
  --tw-shadow-color: #fb4226;
  --tw-shadow: var(--tw-shadow-colored);
}

/* error-page */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

@-moz-keyframes rocket-movement {
  100% {
    -moz-transform: translate(1200px, -600px);
  }
}
@-webkit-keyframes rocket-movement {
  100% {
    -webkit-transform: translate(1200px, -600px);
  }
}
@keyframes rocket-movement {
  100% {
    transform: translate(1200px, -600px);
  }
}
@-moz-keyframes spin-earth {
  100% {
    -moz-transform: rotate(-360deg);
    transition: transform 20s;
  }
}
@-webkit-keyframes spin-earth {
  100% {
    -webkit-transform: rotate(-360deg);
    transition: transform 20s;
  }
}
@keyframes spin-earth {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    transition: transform 20s;
  }
}

@-moz-keyframes move-astronaut {
  100% {
    -moz-transform: translate(-160px, -160px);
  }
}
@-webkit-keyframes move-astronaut {
  100% {
    -webkit-transform: translate(-160px, -160px);
  }
}
@keyframes move-astronaut {
  100% {
    -webkit-transform: translate(-160px, -160px);
    transform: translate(-160px, -160px);
  }
}
@-moz-keyframes rotate-astronaut {
  100% {
    -moz-transform: rotate(-720deg);
  }
}
@-webkit-keyframes rotate-astronaut {
  100% {
    -webkit-transform: rotate(-720deg);
  }
}
@keyframes rotate-astronaut {
  100% {
    -webkit-transform: rotate(-720deg);
    transform: rotate(-720deg);
  }
}

@-moz-keyframes glow-star {
  40% {
    -moz-opacity: 0.3;
  }
  90%,
  100% {
    -moz-opacity: 1;
    -moz-transform: scale(1.2);
  }
}
@-webkit-keyframes glow-star {
  40% {
    -webkit-opacity: 0.3;
  }
  90%,
  100% {
    -webkit-opacity: 1;
    -webkit-transform: scale(1.2);
  }
}
@keyframes glow-star {
  40% {
    -webkit-opacity: 0.3;
    opacity: 0.3;
  }
  90%,
  100% {
    -webkit-opacity: 1;
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    border-radius: 999999px;
  }
}

#error-page .spin-earth-on-hover {
  transition: ease 200s !important;
  transform: rotate(-3600deg) !important;
}

#error-page {
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

.bg-purple {
  background: url(http://salehriaz.com/404Page/img/bg_purple.png);
  background-repeat: repeat-x;
  background-size: cover;
  background-position: left top;
  overflow: hidden;
}

#news .item-content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
#news .ant-tabs-ink-bar {
  height: 2px;
  background: #fb4226 !important;
}

#tabMovie #sub-tab .ant-tabs-nav {
  width: 40%;
}

/* UserLayout */

.user__layout {
  background-image: url('./assets/images/backapp.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.userLayout .ant-checkbox-checked .ant-checkbox-inner,
.userLayout .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #fb4226;
  border-color: #fb4226;
}

.userLayout .ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-inner,
.userLayout .ant-checkbox:not(.ant-checkbox-disabled):hover .ant-checkbox-inner {
  border-color: #fb4226;
}

.userLayout .ant-checkbox .ant-checkbox-input:focus-visible + .ant-checkbox-inner {
  outline: 4px solid #f85941;
}

.userLayout
  .ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover
  .ant-checkbox-checked:not(.ant-checkbox-disabled)
  .ant-checkbox-inner {
  background-color: #fb4226;
  border-color: #fb4226;
}

.ant-checkbox-checked:after,
.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover
  .ant-checkbox-checked:not(.ant-checkbox-disabled):after,
.ant-checkbox-wrapper-checked:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox:after,
.ant-checkbox-checked:not(.ant-checkbox-disabled):hover .ant-checkbox:after {
  border: 2px solid #f85941;
}

.userLayout .userButton {
  line-height: 5px;
  transition: 0.4s;
}

.userLayout .userButton:focus-visible {
  outline: 4px solid #f85941;
}

.userLayout .userButton:active,
.userLayout .userButton:hover {
  background-color: #fb4226;
}
